*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
# Generated 文件夹
/app/release
#built application files
*.apk
*.ap_
# Java class files
*.class
# files for the dex VM
*.dex
# Keystore files
*.jks
# 日志文件
*.log
